// Here you can add other styles
@media screen and (max-width:600px) {
    .mapping-list {
        overflow: scroll;
    }
}

.search-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    padding: 0 0.3rem;
}

.search-x {
    position: absolute;
    margin-right: 0.4rem;
}

.table-header {
    cursor: url('../assets/images/middle-finger.cur'), auto;
}

.alert-message {
    order: 2;
    margin-left: auto;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}